apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: url-shortener
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/<YOUR_USERNAME>/Monitoring-Dockerized-URL-Shortner-App.git'
    targetRevision: main
    path: docker-compose
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: url-shortener
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

